# Database configuration
DB_HOST=postgres_identity
DB_PORT=5432
DB_NAME=identity_service
DB_USER=postgres
DB_PASSWORD=postgres

# RabbitMQ configuration
RABBITMQ_HOST=rabbitmq_broker
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
